{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> المتصدرون </title>

    <link rel="stylesheet" href="{% static 'style/index.css' %}">
</head>
<body>
    
    <div class="up">
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}">ملفك الشخصي</a>
            <a href="{% url 'logout' %}">تسجل الخروج</a>
        {% else %}
            <a href="{% url 'login' %}">تسجل الدخول</a>
            <a href="{% url 'register' %}">انشاء حساب</a>
        {% endif %}
    </div>


    <div class="main">
        
        <form method="get">
            <select name="level" id="">
                <option value="">اختر المرحلة</option>
                {% for level in levels %}
                    <option value="{{ level.name }}">{{ level.name }}</option>
                {% endfor %}
            </select>
        </form>

        <div class="msg">
            <p>ترتيب الطلاب حسب اعلي الدرجات لاخر امتحان</p>
        </div>

        <table>
            
            <tr>
                <th>الدرجة</th>
                <th>الاسم</th>
            </tr>
           
            {% for exam in exams %}
                <tr>
                    <td> {{ exam.mark }}</td>
                <td> {{ exam.student }} </td>
                </tr>
            {% endfor %}

           
  
          </table>
          


    </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script>
        
        document.querySelector('select').addEventListener('change',function(e){  
            document.querySelector('form').submit();
        })


    </script>
</body>
</html>